.sign-in {
    margin-top: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    .title-signin{
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
        font-weight: 500;

    }
    .button-container{
        display: flex;
        padding-top: 10px;
        justify-content: space-evenly;
        margin: auto;
        width: 95%;
        .signup-to{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 47%;
            text-align: center;
            span{
                font-size: 16px;
                color: black;
            }
        }
    }
    .googlesign{
        margin-top: 30px;
        color: #000;
        text-align: center;
        span{
            color: grey;
        }
    }
  }