.custom-button{
    width: 47%;
    height: 40px;
    border: none;
    color: black;
    background-color: #FFFB93;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.5s;
    &:hover{
        background-color: #DB00FF;
    }
}