.custom-button{
    width: 47%;
    height: 40px;
    border: none;
    color: white;
    background-color: #FF0099;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover{
        background-color: #DB00FF;
    }
}