nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 1440px;
        height: 60px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        z-index: 10;
        .container{
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                font-size: 24px;
                font-style: italic;
            }
            .dropmenu{
                animation-name: bounce;
                animation-iteration-count: infinite;
                animation-timing-function: ease;
                animation-duration: 1s;
                @keyframes bounce{
                    50% {transform: translateY(5px);}
                }
            }
        }
    }
}
