.group{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .form-input{
        width: 80%;
        height: 40px;
        margin-bottom: 20px;
        border: 1px solid grey;
        outline: none;
        padding: 0 30px;
        &:focus{
            border: 1px solid #FFF500;
        }
    }
}