.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 120px;
  }
.directory-menu {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer{
  text-align: center;
  bottom: 0;
  padding-top: 40px;
}